@charset "UTF-8";
html{
	/* height:100vh;
	overflow-y: hidden; */
}
.car_table1{
 	/* display:inline-block; */
 	/* border:1px solid red; */
 	position:relative;
 	top:0px;
 	left:100px;
 	height:200px;
 }
 .car_table2{
 	text-align:center;	
 }
 
 
 
 .form_table{
 	/* border:1px solid blue; */
 	position:absolute;
 	width:250px;
 	left:760px;
 	bottom:0px;
 	background-color:whitesmoke;
 	
 	
 }
 .show_amounts{
 	padding:20px;
 }
 
 .pay_BTN{
	position:relative;
	width:220px;
	height:40px;
	padding:5px;
	background-color:white;
	color:black;
	cursor:pointer;
	font-size:22px;
	border:1px solid black;
	top:20px;
	border-radius: 20px;
	
 }
 .pay_BTN:hover{
 	background-color:black;
	color:white;
	font-size:24px;
 }
 .for_img > div{
 	position:relative;
 	width:70px;
 	height:70px
 }
 .for_img >  div > img{
 	position:relative;
 	top:5px;
 	width:75px;
 	height:55px;
 	left:80%;
 }
   .deleteBTNall{
 	background-color:white;
 	border:1px solid black;
 	border-radius:20px;
 } 
  .deleteBTNall:hover{
 	background-color:black;
	color:white;
	
 } 
  .deleteBTN{
 	background-color:white;
 	border:1px solid black;
 	border-radius:20px;
 } 
  .deleteBTN:hover{
 	background-color:black;
	color:white;
	font-size:24px;
 } 
 
 .textinfo {
	width: 70px;
	position: fixed;
	bottom: 30px;
	right: 80px;
	margin-bottom: 60px;
}

.textinfo img {
	width: 70px;
	height: 70px;
}
 
 
 
 
 .chat {
	width: 350px;
	position: fixed;
	bottom: 30px;
	right: 200px;
	margin-bottom: 60px;
	/* background-color: red; */
	height: 350px;
	display:none;
}

.panel {
	float: right;
	/* border-radius: 5px; */
	width: 50%;
}

.message-area {
	height: 80%;
	resize: none;
	box-sizing: border-box;
	overflow: auto;
	background-color: #ffffff;
	width: 350px;
	position: absolute;
	top: 30px;
	bottom: 77px;
	border-left: 2px solid #454646;
	border-right: 2px solid #454646;
	border-top: 2px solid #454646;
}

.input-area {
	background: #E9EDED;
	/* box-shadow: inset 0 0 10px #00568c; */
	position: absolute;
	width: 350px;
	/* height: 50px; */
	position: absolute;
	bottom: -36px;
	height: 77px;
	border-left: 2px solid #454646;
	border-right: 2px solid #454646;
	border-bottom: 2px solid #454646;
	border-top: 2px solid #454646;
	border-radius: 0px 0px 20px 20px;
}

.input-area input {
	margin: 0.5em 0em 0.5em 0.5em;
}

.text-field {
	border: 1px solid grey;
	padding: 0.2em;
	/* box-shadow: 0 0 5px #000000; */
}

h1 {
	font-size: 1.5em;
	padding: 5px;
	margin: 5px;
}

#message {
	min-width: 277px;
	max-width: 277px;
	border: 2px solid #454646;
	height: 55px;
	position: absolute;
	bottom: 0px;
	border-radius: 10px;
	font-size: 20px;
}

.statusOutput {
	background-color: #E9EDED;
	text-align: center;
	color: #ffffff;
	border-top: 2px solid #454646;
	border-right: 2px solid #454646;
	border-left: 2px solid #454646;
	/* padding: 0.2em; */
	/* box-shadow: 0 0 5px #000000; */
	width: 100%;
	/* margin-top: 10%; */
	margin: 0;
	height: 37px;
	position: absolute;
	top: -6px;
	/* z-index: 1; */
	color: #454646;
	font-size: 25px;
	padding-bottom: 10px;
	border-radius: 20px 20px 0px 0px;
}

#row {
	float: left;
	width: 50%;
}

.column {
	float: left;
	width: 50%;
	padding: 5%;
	margin-bottom: 5px;
	background-color: #ffffff;
}

.chat ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.chat ul li {
	display: inline-block;
	clear: both;
	padding: 20px;
	border-radius: 20px;
	margin-bottom: 2px;
	font-family: Helvetica, Arial, sans-serif;
}

.friend {
	background: #eee;
	float: left;
}

.friend a {
	color:darkgray;
	font-size: 18px;
}
.friend a:hover{
	color: #454646;
}

.me {
	float: right;
	background: #0084ff;
	color: #fff;
}

.friend+.me {
	border-bottom-right-radius: 5px;
}

.me+.me {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.me:last-of-type {
	border-bottom-right-radius: 30px;
}

#sendMessage {
	position: absolute;
	bottom: 4px;
	right: 4px;
	height: 55px;
	background-color: #E9EDED;
	border: 2px solid #454646;
	border-radius: 10px;
}

#sendMessage:hover {
	background-color: #D4D9DC;
}

/* 銝���蝺蝺���
#connect{
	position: absolute;
	bottom: 0px;
}
#disconnect{
	position: absolute;
	bottom: 0px;
}
  
 
 
 
 

