aside {
    display: flex;
    position: absolute;
    width: 200px;
    top: 370px; /*調整文字整體的高*/
    margin-left: -40px;
    min-height: 480px;
    /* border: 1px solid rgb(117, 166, 201); */
}
aside>ul>li {
    list-style: none;
    background-color: rgb(180, 178, 178);
    color: white;
    width: 200px;
    top: 110px; /*改變會員資料上面的高*/
    /* margin-bottom: 20px; */
    font-size: 18px;
    position: relative;
    border-bottom: 1px dashed white;
}

aside>ul>li:hover {
    background-color: #757575; /*滑鼠點選會員資料時的顏色*/
    color: white;
    cursor: pointer;
}
#index:active {
    color: rgb(206, 166, 166);
}

aside>ul>li>span {
    display: block;
    /* padding: 10px 10px; */
    /* text-shadow: 0 0 5px rgb(117, 166, 201); */
    padding: 25px; /*點選會員資料欄位的高與寬*/
}

aside>ul>li>ul {
    display: none;
    position: absolute;
    top: 0;
    left: 100px;
}

aside>ul>li:hover>ul {
    display: block;
    z-index: 10;
}

aside>ul>li>ul>li {     /* 更改密碼按鈕*/
    margin-left: 60px;
    list-style: none;
    background-color: rgb(180, 178, 178); /* 滑鼠未指向時的顏色 */
    width: 160px;
    font-size: 18px;
    padding: 25px;
    border-bottom: 1px dashed white;
    text-shadow: 0 0 5px #474444;  /* 更改密碼字體邊的顏色 */
}

aside>ul>li>ul>li:hover {
    background-color: #757575; /*滑鼠點選更改密碼時的顏色*/
}