@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);


/* ======== * header區域 * ======== */
body {
  /* height: 100vh; */
  margin: 0;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
  
}

* {
  box-sizing: border-box;
  font-family: "cwTeXYen", sans-serif;
}

.nav-ul-bot {
  display: inline;
}

.nav-ul-top {
  display: inline;
}

.nav-li {
  display: inline-block;
  list-style: none;
}

a {
  text-decoration: none;
}

.nav-left-div p {
  width: 80px;
  color: black;
  font-size: 20px;
  display: block;
  width: 100%;
  border-right: 2px solid black;
  padding-right: 12px;
  color: #7D7D7D;
  border-color: #7D7D7D;
}

.nav-left-div p:hover {
  border-top: solid 3px black;
  margin-top: 3px;
  border-color: #7D7D7D;
}

header {
  height: 90px;
}

hr {
  height: 3px;
  background-color: gray;
}

nav {
  height: 200px;
  width: 1263px;
}

.nav-top-a {
  display: block;
  position: absolute;
  top: 40px;
  left: 1150px;
  width: 50px;
}

.nav-logo {
  width: 400px;
  height: 94px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.nav-left-div {
  margin-top: 10px;
}

.nav-top-div {
  display: inline;
  width: 50px;
  position: relative;
  top: -5px;
  right: 120px;
}

.nav-top-img {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 40px;
  left: 900px;
}

.nav-top-img-1 {
  width: 50px;
  height: 50px;
}

.nav-top-top {
  display: inline;
  position: absolute;
  top: 0;
  left: 0;
  width: 1206px;

}

.nav-top {
  display: inline;
  position: relative;
  top: 0px;
  right: -280px;

}

.text {
  border: 2px;
  border-radius: 20px;
  border: 1px black;
  background-color: #757575;
  font-size: 20px;
  padding: 8px 20px 8px 20px;
  color: white;
  width: 170px;
  position: absolute;
  top: 45px;
  left: 967px;
  text-align: center;
}

.nav-top-bot {
  margin-left: 100px;
  margin-top: 0px;
  position: absolute;
  top: 145px;
  height: 50px;
}

.weather-div {
  display: inline;
  position: relative;
  top: 20px;
  left: 475px;
}

.weather-tr {
  position: absolute;
  left: 95px;
  top: 0px;
  width: 330px;
}

.weather-tr-1 {
  position: absolute;
  left: 95px;
  top: 20px;
}

.td {
  width: 42px;
  padding-right: 5px;
}

.th {
  width: 42px;
  padding-right: 7px;
}

.icon-img {
  width: 30px;
  margin-right: 9px;
}

.weather-div {
  visibility: hidden;
}

.icon {
  visibility: hidden;
  position: absolute;
  left: 575px;
  top: 70px;
  width: 320px;
}





/* ------main------- */
main {
  /* border: 1px solid #3475e6; */
  position: relative;
  top: 40px;
  width: 700px;
  margin-top: 120px;

}


#product-aside {
  /* border: 2px solid red; */
  position: relative;
  top: 420px;
  display:inline;
  /* height: 220px; */
  left: 50px;
  /* justify-content:; 
  flex-direction:row; */
  
}

#product-aside>img {
  /* display: inline-block; */
  height: 50px;
  width: 70px;
  filter: brightness(0.8);
  border: 0.5px solid #757575;
}

#product-aside>img:hover {
  border: 0px;
  filter: brightness(1.2);

}
#photo {
  /* border: 2px solid red; */
  position: relative;
  left: 50px;
  top: -50px;
  width: 600px;
  height: 400px;
  display: inline-block;

}

/* 商品簡介 */
.product-title-all {
  /* border: 3px solid blue; */
  text-align: center;
  /* display: inline-block; */
  position: relative;
  left: 700px;
  top: -440px;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 15px;
  width: 490px;
}
.product-title-all > .product-name{
  position: relative;
  top: 50px;
  font-weight: 300px;
  display: inline;
  font-size: 35px;
}

.product-content{
  text-align: justify;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 18px;
  color: #757575;
}
.product-content > h2{
  color: #757575;
  font-size: 26px;
}
p{
  color:coral;
}
.hr1{
  border: none;
  border-top: 0.1px solid #757575;
  height: 1px;
  width: 500px;
  position: relative;
}

/* 產品數量選擇器 */
.select-area {
  width: 150px;
  margin-left: 170px;
  bottom: 37px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  /* background-color: #7D7D7D; */
  border: 1px solid #757575;
}
.select-area input {
  width: 50px;
  border: 0px;
  line-height: 30px;
  font-size: 20px;
  text-align: center;
  color: rgb(33, 37, 41);
  padding: 1px;
  margin-left: 10px;
}
.arrow-pic{
  width: 14px;
}
.down{
  /* border: 1px solid red; */
  position: relative;
  left: -9px;
  height: 32px;
  padding-top: 10px;
  border-right: 1px solid #7D7D7D;
}
.up{
  /* border: 1px solid red; */
  position: relative;
  right: -9px;
  height: 32px;
  border-left: 1px solid #7D7D7D;
}
.up:hover{
  background-color: #7D7D7D;
}
.down:hover{
  background-color: #7D7D7D;
}
.select-area span {
  /* display: block; */
  font-size: 25px;
  padding: 0 10px;
  cursor: pointer;
  user-select: none;

}




#number-text{
  margin-left: 110px;
  margin-bottom: 4.5px;
  color: #757575;
  /* border: 2px solid red; */
  display: flex;
  width: 55px;
  font-size: 24px;
}

/* 購物按鈕 */
.purchase-area{
  /* border: 2px solid red; */
  margin-top: 5px;
  display: flex;
  flex-direction:column;
  position: relative;
  bottom: 20px;
}
.purchase-btn{
  height: 40px;
  border: 0.5px solid #7D7D7D;
  background-color: white;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 20px;
  color: rgb(33, 37, 41);
}
#addcar-btn{
  height: 20px;
  border: 0.5px solid #7D7D7D;
  background-color: white;
  position:relative;
  bottom: 10px;
  cursor: pointer;
  font-size: 20px;
  color:rgb(33, 37, 41);
  width:500px;
  height:45px;
}
.purchase-btn:hover{
  background-color: rgb(33, 37, 41);
  color: white;
}
.addcar-btn:hover{
  background-color: rgb(33, 37, 41);
  color: white;
}






/* footer */

footer {
    height: 80px;
    width: 1362px;
    background-color: black;
    /* margin-top: 80px;   */
    /* position: relative; */
    /* top: 0px; */
}

footer p {
    width: 100vw;
    color: white;
    font-size: 12px;
    text-align: center;
    margin-top: 2px;
    position: relative;
    top: 20px;
    margin-bottom: 0px;
}

/* 客服 */
.textinfo {
	width: 70px;
	position: fixed;
	bottom: 30px;
	right: 80px;
	margin-bottom: 60px;
}

.textinfo img {
	width: 70px;
	height: 70px;
}





.chat {
	width: 350px;
	position: fixed;
	bottom: 30px;
	right: 200px;
	margin-bottom: 60px;
	/* background-color: red; */
	height: 350px;
	display:none;
}

.panel {
	float: right;
	/* border-radius: 5px; */
	width: 50%;
}

.message-area {
	height: 80%;
	resize: none;
	box-sizing: border-box;
	overflow: auto;
	background-color: #ffffff;
	width: 350px;
	position: absolute;
	top: 30px;
	bottom: 77px;
	border-left: 2px solid #454646;
	border-right: 2px solid #454646;
	border-top: 2px solid #454646;
}

.input-area {
	background: #E9EDED;
	/* box-shadow: inset 0 0 10px #00568c; */
	position: absolute;
	width: 350px;
	/* height: 50px; */
	position: absolute;
	bottom: -36px;
	height: 77px;
	border-left: 2px solid #454646;
	border-right: 2px solid #454646;
	border-bottom: 2px solid #454646;
	border-top: 2px solid #454646;
	border-radius: 0px 0px 20px 20px;
}

.input-area input {
	margin: 0.5em 0em 0.5em 0.5em;
}

.text-field {
	border: 1px solid grey;
	padding: 0.2em;
	/* box-shadow: 0 0 5px #000000; */
}

h1 {
	font-size: 1.5em;
	padding: 5px;
	margin: 5px;
}

#message {
	min-width: 277px;
	max-width: 277px;
	border: 2px solid #454646;
	height: 55px;
	position: absolute;
	bottom: 0px;
	border-radius: 10px;
	font-size: 20px;
}

.statusOutput {
	background-color: #E9EDED;
	text-align: center;
	color: #ffffff;
	border-top: 2px solid #454646;
	border-right: 2px solid #454646;
	border-left: 2px solid #454646;
	/* padding: 0.2em; */
	/* box-shadow: 0 0 5px #000000; */
	width: 100%;
	/* margin-top: 10%; */
	margin: 0;
	height: 37px;
	position: absolute;
	top: -6px;
	/* z-index: 1; */
	color: #454646;
	font-size: 25px;
	padding-bottom: 10px;
	border-radius: 20px 20px 0px 0px;
}

#row {
	float: left;
	width: 50%;
}

.column {
	float: left;
	width: 50%;
	padding: 5%;
	margin-bottom: 5px;
	background-color: #ffffff;
}

.chat ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.chat ul li {
	display: inline-block;
	clear: both;
	padding: 20px;
	border-radius: 20px;
	margin-bottom: 2px;
	font-family: Helvetica, Arial, sans-serif;
}

.friend {
	background: #eee;
	float: left;
}

.friend a {
	color:darkgray;
	font-size: 18px;
}
.friend a:hover{
	color: #454646;
}

.me {
	float: right;
	background: #0084ff;
	color: #fff;
}

.friend+.me {
	border-bottom-right-radius: 5px;
}

.me+.me {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.me:last-of-type {
	border-bottom-right-radius: 30px;
}

#sendMessage {
	position: absolute;
	bottom: 4px;
	right: 4px;
	height: 55px;
	background-color: #E9EDED;
	border: 2px solid #454646;
	border-radius: 10px;
}

#sendMessage:hover {
	background-color: #D4D9DC;
}

/* 銝���蝺蝺���
#connect{
	position: absolute;
	bottom: 0px;
}
#disconnect{
	position: absolute;
	bottom: 0px;
}
